/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}
